<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 3.2 Final//EN"><html>
<title>Directory listing for /src/main/resources/doc-templates/</title>
<body>
<h2>Directory listing for /src/main/resources/doc-templates/</h2>
<hr>
<ul>
<li><a href="assets/">assets/</a>
<!--<li><a href="configuring-rest-api.html">configuring-rest-api.html</a>-->
<li><a href="index.mustache">index.mustache</a>
<li><a href="model.mustache">model.mustache</a>
<li><a href="operation.mustache">operation.mustache</a>
</ul>
<hr>
</body>
</html>
